@model Nop.Plugin.Widgets.TaskTwo.Models.PublicInfoModel
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/Widgets.TaskTwo/Content/tasktwo/task-two.css");
}
<div class="product-hint">
    <p>@Model.Message</p>
</div>